@import "~cx-style-core/src/sole";

cx-icon {
  @extend %display--inline-block;

  width: to-rem(24px);
  height: to-rem(24px);
  vertical-align: middle;

  &.-small {
    width: to-rem(20px);
    height: to-rem(20px);
  }

  &.-large {
    width: to-rem(32px);
    height: to-rem(32px);
  }

  > svg {
    @extend %display--block;
    @extend %width--full;
    @extend %height--full;

    fill: currentColor;
  }
}
