<section cx-first-run-animator class="first-run-section first-run__index">
  <h1 class="first-run__title animate-in">Hi.</h1>
  <p class="first-run__text animate-in">Welcome to Queue!<br>We&rsquo;ll spend the next minute or so getting you set up.</p>
  <md-button class="first-run__button animate-in float--right md-raised" ui-sref="^.domain">Next</md-button>
</section>
