<section cx-first-run-animator>
  <p class="first-run__text animate-in">You should have received an email with your company&rsquo;s <em>Queue ID</em>.</p>
  <p class="first-run__text animate-in">Please enter it below:</p>
  <form class="animate-in display--block" name="$ctrl.domainForm" ng-submit="$ctrl.handleSubmitDomainForm($ctrl.domainPrefix, $event)">
    <fieldset>
      <div layout="row" layout-align="start center">
        <input
          autofocus
          cx-model-lowercase
          id="domain"
          name="domain"
          ng-model="$ctrl.domainPrefix"
          ng-pattern="/^[a-zA-Z0-9-.]+$/"
          placeholder="queue-id"
          required
          type="text"
        >
        <md-button
          type="submit"
          class="first-run_submit-button md-fab md-accent margin-left--xlg"
          ng-if="!!$ctrl.domainForm.$valid"
        >
          <cx-icon icon="caret_right"></cx-icon>
        </md-button>
      </div>
      <div ng-messages="!$ctrl.domainForm.domain.$pristine && $ctrl.domainForm.domain.$error">
        <div ng-message="required">Please enter a Queue ID</div>
        <div ng-message="pattern">Queue ID entered incorrectly</div>
        <div ng-message="queueId">Invalid Queue ID. Please double-check your spelling or contact a CrossChx support representative for help.</div>
      </div>
      <md-progress-circular
        class="md-accent"
        md-mode="indeterminate"
        ng-if="$ctrl.isLoading"
      ></md-progress-circular>
    </fieldset>
  </form>
</section>
