@import "~cx-style-core/src/sole";

%body-text {
  @extend %font-weight--light;
  @extend %font-size--xlg;
  @include breakpoint(map_get($map--breakpoints, medium)){
	font-size: ( 20 / 6 ) * 1vw;
  }
  @include breakpoint(map_get($map--breakpoints, app)){
	font-size: to-rem(48px);
  }
}

cx-first-run {
  position: relative;

  em {
	font-style: normal;
	@extend %font-weight--bold;
  }

  fieldset {
	border: none;
	@extend %margin--none;
	@extend %padding--none;
	@extend %position--relative;
	> [ng-messages] {
	  @extend %position--absolute;
	  @extend %margin-top--xlg;
	  top: 100%;
	}
	> md-progress-circular {
	  @extend %position--absolute;
	  right: 100%;
	  top: 0;
	}
  }

  input[type="text"],
  label{
	@extend %body-text;
  }

  input[type="text"] {
	@extend %bg--white-100;
	@extend %box-shadow--6;
	@extend %color--black-100;
	@extend %padding;

	border-color: rgba(get_color(vermilion, 300), 0);
	border-style: solid;
	border-width: 0.125em;
	margin: -0.125em;
	height: auto;
	transition: box-shadow 0.5s ease-in-out,
		border-color 0.3s ease-out;

	&:focus,
	&:active,
	&:hover {
	  @extend %box-shadow--12;
	  outline: none;
	}

	&.ng-invalid:not(.ng-pristine){
	  border-color: rgba(get_color(vermilion, 300), 1);
	}

	&::-webkit-input-placeholder {
	  color: rgba(get_color(black, 100), 0.5);
	}
  }

  .animate-in {

	&.ng-animate {
	  transition: transform 10s ease-out,
	  opacity 10s linear;
	}

	&.ng-leave-stagger {
	  animation-delay: 1s;
	  transition-duration: 0s;
	}

	&.ng-leave {
	  opacity: 0;
	  transform: translateY(-12px);

	  &.ng-leave-active {
		opacity: 1;
		transform: translateY(0);
	  }
	}

  }

  > ui-view {
	transition: opacity 0.5s, transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
	opacity: 1;

	&.ng-animate{
	  min-width: 100%;
	  min-height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	}

	&.ng-enter {
	  opacity: 0;
	  transform: translate3d(16px, 0, 0);
	  &.ng-enter-active {
	  transform: translate3d(0, 0, 0);
		opacity: 1;
	  }
	}

	&.ng-leave{
	  opacity: 1;
	  transform: translate3d(0, 0, 0);
	  &.ng-leave-active {
		opacity: 0;
	  	transform: translate3d(-16px, 0, 0);
	  }
	}

	> * {
	  max-width: map-get($map--breakpoints, wide) !important;
	  @extend %margin-x--lg;

	  @include breakpoint(map_get($map--breakpoints, medium)) {
		@include margin(xxlg,x);
	  }

	  @include breakpoint(map_get($map--breakpoints, tablet)) {
		@include margin(xxxlg,x);
	  }
	}
  }
}

.first-run__title {
  @extend %color--white-100;
  @extend %margin-y--normal;
  font-size: to-rem( 72px );
  font-family: 'Proxima Nova';
  font-weight: 800;
  @include breakpoint( map_get($map--breakpoints, medium) ){
  	font-size: 12vw;
  }
  @include breakpoint(map_get($map--breakpoints, app)){
	font-size: to-rem(172px);
  }
}

.first-run__text {
  @extend %color--white-100;
  @extend %body-text;
}

.first-run__index {
  align-self: center;
  @extend %padding-bottom--xxxlg;
}

.md-button.first-run__button {
  @extend %margin--none;
}

.first-run_submit-button {
  &.ng-enter {
	transition: opacity 0.2s, transform 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
	transform: scale3d(0.2, 0.2, 1);
	opacity: 0;

	&.ng-enter-active {
	  transition: opacity 0.2s, transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	  transform: scale3d(1, 1, 1);
	  opacity: 1;
	}
  }

  &.ng-leave {
	transition: opacity 0.2s, transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
	transform: scale3d(1, 1, 1);
	opacity: 1;
	&.ng-leave-active {
	  transition: opacity 0.3s ease-in, transform 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045) !important;
	  transform: scale3d(0.2, 0.2, 1);
	  opacity: 0;
	}
  }

}
