<section cx-first-run-animator class="first-run-section first-run__complete">
  <p class="first-run__text animate-in">Great! We&rsquo;re all finished. Ready to start using Queue?</p>
  <md-button class="first-run__button float--right animate-in md-raised" ui-sref="index.webapp">Let&rsquo;s Go</md-button>
</section>
