@import "~angular-material/angular-material";
@import "~cx-style-core/src/crosschux";

body {
  max-width: 100vw;
  max-height: 100vh;
}

.notification-bar {
  transition: height 0.5s ease-out;
  &.ng-animate-enter {
	height: 0;
	&.ng-animate-enter-active {
	  height: auto;
	}
  }

  > a {
	transition: background-color 0.3s ease-in-out;
	@extend %bg--wonka-200;
	&:hover {
		@extend %bg--wonka-300;
	}
  }
}

#version {
  @extend %font-size--xsm;
  @extend %opacity--muted;
  @extend %padding--xsm;
  @extend %position--fixed;
  @extend %z-index--max;
  text-shadow: 0 1px 0 rgba(#fff, 0.8);
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
}


