@font-face {
  font-family: 'Proxima Nova';
  src: local('ProximaNova ExtraBold'), local('ProximaNova-ExtraBold'), url('static/fonts/proximanova-xbold-webfont.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
