<cx-app-bar layout="row" flex="none" ng-style="{ 'background-color': $ctrl.themeColor }" ng-class="{'cx-theme--light': !$ctrl.isThemeLight, 'cx-theme--dark' : $ctrl.isThemeLight}"></cx-app-bar>
<div
  class="notification-bar"
  layout="row"
  layout-align="center start"
  ng-if="$ctrl.isUpdateDownloaded"
>
  <a
    class="text-align--center font-size--sm padding--sm color--white-100"
    flex
    href="#"
    ng-click="$ctrl.handleClickUpdateButton($event)"
  ><span class="font-weight--light">A new version of {{::$ctrl.productName}} is available!</span> <span class="font-weight--bold">Click here to restart the application and install the update.</span></a>
</div>
<ui-view layout="column" layout-fill flex></ui-view>
<div id="version">{{ ::$ctrl.version }}.{{ ::$ctrl.platform }}.{{ ::$ctrl.arch }} {{ $ctrl.domainPrefix }}</div>
