@import "~cx-style-core/src/sole";

%app-bar-shadow--light {
  text-shadow: 0 1px 1px rgba(get_color(white, 100), 0.6);
}
%app-bar-shadow--dark {
  text-shadow: 0 1px 1px rgba(get_color(black, 300), 0.6);
}

cx-app-bar{

  transition: background-color 0.5s ease-in-out;

  @extend %position--relative;

  -webkit-app-region: drag;

  .app-bar__title {
	@extend %font-size--sm;
	@extend %margin--none;
	@extend %app-bar-shadow--light;
  }

  .app-bar__nav-button {
	-webkit-app-region: no-drag;
	transition: opacity 0.2s linear;

	&:not([disabled]){
	  @extend %opacity--muted;

	  &:hover {
		@extend %opacity--full;
	  }
	}

  }

  .md-icon-button.app-bar__nav-button {
	@extend %margin--none;

	&.-small {
	  width: 28px;
	  height: 28px;
	  min-height: 28px;
	  padding: 4px;
	  line-height: 20px;
	  cx-icon {
		width: 20px;
		height: 20px;
	  }
	}
  }

  .app-bar__nav-buttons {
	min-width: 112px;
  }

  &.cx-theme--light {
	.app-bar__nav-button,
	.app-bar__title {
	  @extend %color--white-100;
	}

	.app-bar__nav-button {
	  color: rgba(get_color(white, 100), 1) !important;
	  @extend %app-bar-shadow--dark;

	  &[disabled] {
		color: rgba(get_color(white, 100), 0.3) !important;
	  }
	}

	.app-bar__title {
	  text-shadow: 0 1px 1px rgba(get_color(black, 100), 0.6);
	}
  }
}
