<section class="app-bar__nav-buttons" layout="row" layout-align="start center">
  <md-button
    aria-label="Back"
    class="app-bar__nav-button -small md-icon-button"
    ng-click="$ctrl.handleClickBackButton($event)"
    ng-disabled="!$ctrl.canGoBack"
    ng-if="$ctrl.canNavigate"
    title="Back"
  >
    <cx-icon icon="arrow_left_extended"></cx-icon>
  </md-button>
  <md-button
    aria-label="Forward"
    class="app-bar__nav-button -small md-icon-button"
    ng-click="$ctrl.handleClickForwardButton($event)"
    ng-disabled="!$ctrl.canGoForward"
    ng-if="$ctrl.canNavigate"
    title="Forward"
  >
    <cx-icon icon="arrow_right_extended"></cx-icon>
  </md-button>
  <md-progress-circular
    class="md-primary md-hue-2"
    md-mode="indeterminate"
    md-diameter="28"
    ng-show="$ctrl.isLoading"
  ></md-progress-circular>
</section>
<section flex layout="row" layout-align="center center">
  <h1 class="app-bar__title">{{ $ctrl.title }}</h1>
</section>
<md-button
  aria-label="Profile"
  class="md-icon-button app-bar__nav-button -small"
  ng-click="$ctrl.handleClickProfileButton($event)"
  ng-if="$ctrl.isLoggedIn"
  title="User Preferences"
>
  <cx-user-img hash="$ctrl.userHash"></cx-user-img>
</md-button>
<cx-window-actions
  is-maximized="$ctrl.isMaximized"
  handle-click-indeterminate-button="$ctrl.handleClickIndeterminateButton($event)"
  handle-click-maximize-button="$ctrl.handleClickMaximizeButton($event)"
  handle-click-minimize-button="$ctrl.handleClickMinimizeButton($event)"
  handle-click-close-button="$ctrl.handleClickCloseButton($event)"
></cx-window-actions>
