<section class="app-bar__window-actions" layout="row" layout-align="start center">
  <md-button
    aria-label="Minimize Window"
    class="md-icon-button app-bar__nav-button -small"
    ng-click="$ctrl.handleClickMinimizeButton($event)"
    title="Minimize Window"
  >
    <cx-icon icon="minimize"></cx-icon>
  </md-button>
  <md-button
    aria-label="{{ $ctrl.isMaximized ? 'Restore' : 'Maximize' }} Window"
    class="md-icon-button app-bar__nav-button -small"
    ng-click="$ctrl.handleClickIndeterminateButton($event)"
    title="{{ $ctrl.isMaximized ? 'Restore' : 'Maximize' }} Window"
  >
    <cx-icon ng-if="!$ctrl.isMaximized" icon="maximize"></cx-icon>
    <cx-icon ng-if="$ctrl.isMaximized" icon="restore"></cx-icon>
  </md-button>
  <md-button
    aria-label="Close Window"
    class="md-icon-button app-bar__nav-button -small"
    ng-click="$ctrl.handleClickCloseButton($event)"
    title="Close Window"
  >
    <cx-icon icon="win_close"></cx-icon>
  </md-button>
</section>
