@import "~cx-style-core/src/sole";

cx-user-img {
  @extend %border-radius--max;
  @extend %display--inline-block;
  @extend %position--relative;
  @extend %overflow--hidden;

  > img {
	@extend %display--block;

	height: auto !important;
	width: 100% !important;
  }
}
