@import "~cx-style-core/src/sole";

documentation-icon {
  > div {
    max-width: map_get($map--breakpoints, wide);
    margin: auto;
    code {
      display: block;
      margin-top: 0.5em;
    }
  }
  section {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    aside {
      box-sizing: border-box;
      width: 20%;
      min-width: 250px;
      padding: 2em;
      text-align: center;
      cx-icon {
        width: 6em;
        height: 6em;
      }
      span {
        display: block;
        padding: 1em 0;
      }
    }
  }
}
