<div>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Application Icons</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>
        Template Usage:
        <code ng-non-bindable>
          &lt;cx-icon icon="analytics|{{ $ctrl.icon }}"&gt;&lt;/cx-icon&gt;
        </code>
      </p>
      <p>
        SCSS Usage:
        <code ng-non-bindable>
          .md-toolbar-tools cx-icon {<br />
            &nbsp;&nbsp;width: 2em;<br />
            &nbsp;&nbsp;height: 2em;<br />
          }
        </code>
      </p>
      <section>
        <aside ng-repeat="iconId in $ctrl.iconIds">
          <cx-icon icon="{{ iconId }}"></cx-icon>
          <span>{{iconId}}</span>
        </aside>
      </section>
    </md-card-content>
  </md-card>
</div>
